
:root{
    --blue:#3ACEB9;
    --dark: #040941;
    --light: #F1F3FC;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    padding: 0 10rem;
}
nav ul{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: var(--dark);
}
nav ul a:hover{
    font-weight: bold;
}

.logo a{
    color: var(--dark);
    text-decoration: none;
}
.logo a:hover{
    font-weight: bold;
}

.subheader{
    width: 100%;
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    border-top: #040941 solid .1rem;
}
.subheader .countryBtn{
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 .5rem;
    margin: .5rem;
    border-radius: .2rem;
}

.subheader .countryBtn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.055);
    color: var(--blue);
    transition: all .2s ease-in;
}

.countryBtn.inactive{
    background-color: transparent;
}

.countryBtn.active{
    background-color: var(--blue);
    color: var(--light);
    transition: all .3s ease-in;
}

.subheader .countryBtn img{
    height: 2rem;
    padding-right: 1rem;
}
.subheader a{
    color: var(--dark);
    text-decoration: none;
    font-weight: 700;
}
.subheader a:hover{
    color: var(--dark);
}

.body{
    display: flex;
    width: 100vw;
    height: calc(100vh - 6rem);
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}

@media only screen and (max-width: 600px){
    .subheader{
        width: 75%;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}

